
.services-texts {
    margin-left: 60px;
    margin-right: 40px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px
}

.services-title h2{
    font-size: 40px;
    font-weight: 500;
    color: #173b6c;
    text-decoration: underline #173b6c;
}

.services-readmore {
    display: flex;
}

.services-format {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: .3s;
    cursor: pointer;
}

.services-format h3 {
    font-size: 24px;
    font-weight: 600;
}
.services-format h2 {
    font-size: 34px;
    background-clip: text;
}

.services-format:hover {
    transform: scale(1.05);
}


@media(max-width:768px) {
    .services-container {
        display: flex;
        flex-direction: column;
    }
}

@keyframes appear {
    from {
        opacity:0;
        scale: 0.5;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}

.services-format {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
