
.services-texts {
    margin-left: 60px;
    margin-right: 40px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px
}

.services-title h2{
    font-size: 40px;
    font-weight: 500;
    color: #173b6c;
    text-decoration: underline #173b6c;
}

.services-readmore {
    display: flex;
}

.services-format {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: .3s;
    cursor: pointer;
}

.services-format h3 {
    font-size: 24px;
    font-weight: 600;
}
.services-format h2 {
    font-size: 34px;
    background-clip: text;
}

.services-format:hover {
    transform: scale(1.05);
}